  /*content*/
  .inline {
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
}
.inline:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}
 /*Mobile*/


 @media (max-width: 768px) {
  .inline {
      margin-left: 60px;
      width: 250px;

    }
    
    .inline img {
       margin-left: 15px;
    }
}